.checkout {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 89px;
    margin-bottom: 93px;
}

.checkout__item {
    width: 1141px;
    display: block;
    border-bottom: 1px solid  #e8e8e8;
    padding-top: 30px;
    padding-bottom: 27px;
}

.checkout__item__title {
    cursor: pointer;
    outline: 0;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
        color: #f16d7f;
    }
}