.cover {
    position: absolute;
    top: 98px;
    display: none;
    justify-content: center;
    width: 100%; 
}

.cover__add {
    border: 1px solid #ffffff;
    padding: 8px 12px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover  {
        box-shadow: 0 0 10px #fff;
    }
}

.add__title {
    color: #ffffff;
    font-size: 13px;
    margin: 5px 0 7px 8px;
    font-weight: bold;
}

.cover__img {
    width: 23px;
    height: 22px;
    margin-left: 12px;
}