.menu {
    display: flex;
    max-width: 680px;
    width: 100%;
    justify-content: space-between;
    justify-self: center;
    margin-bottom: 22px;
    height: 10px;
    align-items: center;
    margin-top: 19px;
}

.menu__list {
    list-style-type: none;
    font-size: 14px;
    font-weight: 700;
    color: #222222;
}

.menu__link {
    text-decoration: none;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.menu__link:hover {
    color: #f16d7f;
}