.myaccount {
    height: 38px;
    background-color: #f16d7f;
    border: 0;
    border-radius: 3px;
    background-position: 109px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    text-indent: 19px;
    letter-spacing: 0.38px;
    padding: 0;
    cursor: pointer;
    width: 130px;
    box-sizing: border-box;
    @include transition-prop;
}

.myaccount span {
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;

}

.myaccount .fas {
    display: inline;
}



.myaccount:hover {
    background-color: #ffffff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
    border-radius: 3px;
}