.order {
    margin-left: auto;
    margin-right: auto;
    max-width: $shoppinCartWidth;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.order__adress {
    display: flex;
    flex-direction: column;
    border: 0;
    margin-bottom: 79px;
}

.order__title {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
}


.order__adress-button {
    width: 100px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box;
}

.order__adress-button:hover {
    color: white;
    background-color: #4a4a4a;
}

.order__cupon {
    display: flex;
    flex-direction: column;
    border: 0;
}

.order__subtitle {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 24px;
}

.order__country {
    display: block;
    font-size: 13px;
    font-weight: 300;
    color: #b1b1b1;
    padding-left: 18px;
    padding-right: 12px;
    width: 100%;
    max-width: 100%;
    height: 45px;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-bottom: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url(../images/triangle-bottom.png);
    background-repeat: no-repeat;
    background-position: 334px;
    cursor: pointer;
}

.order__input {
    width: 355px;
    height: 45px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-left: 17px;
}

.order__input::placeholder {
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300;
}

.order__coupon-button {
    margin-top: 5px;
    width: 118px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    box-sizing: border-box;
}

.order__coupon-button:hover {
    color: white;
    background-color: #4a4a4a;
}

.order__checkout {
    display: flex;
    flex-direction: column;
    border: 0;
    background-color: #f5f3f3;
    height: 214px;
}

.order__sub-total {
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 14px;
    margin-left: 230px;
}

.order__grand-total {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #e2e2e2;
    text-align: right;
    width: 275px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 22px;
    margin-bottom: 17px;

    span {
        color: #f16d7f;
    }
}



.order__checkout-button {
    width: 273px;
    height: 50px;
    background-color: #f16d7f;
    margin-left: 44px;
    margin-right: 44px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    border: 0;
}

.order__checkout-button:hover {
    color: #f16d7f;
    background-color: #ffffff;
    outline: 1px solid #f16d7f;
}